<div data-name="menu" class="page">
    <style>
    .statusbar {
        background: #6464cc !important;
    }
    </style>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <img src="img/menu_icon.png" width="22">
                </a>
            </div>
            <div class="title sliding" style="left: 0px;">Menú del Día</div>
            <a href="/menuanticipado" id="menuanticipado-tab" class="button right">
                ¿Qué como mañana?
            </a>
            <!--<div id="btnHacerPedido" class="button right">
                hacer pedido
            </div>-->
        </div>
    </div>
    <div id="services-bar" class="subnavbar" style="border-top: 1px solid rgb(12, 106, 179);">
        <div class="subnavbar-inner">
            <div class="segmented"></div>
        </div>
    </div>
    <div id="calories-bar" class="toolbar toolbar-bottom-md" style="background: #00c853; position:absolute; bottom:0px;width:100%;     padding: 0px 10px;font-size:20px;">
        <a class="link float-left"><img src="img/calc_icon.png" width="28"></a>
        <a class="link text-align-left" id="calc-string"><small><strong>Calcule Calorías Seleccionando Platos!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></small></a>
    </div>
    <div class="page-content ptr-content ptr-menu" data-ptr-distance="105">
        <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
        </div>
        <div id="menu-services-content-tabs" class="tabs">
        </div>
        <div id="loading-menu" class="block">
            <br><br><br>
            <p><span class="progressbar-infinite"></span></p>
            <p class="text-align-center" style="font-size: 17px;">cargando menu, por favor espere...</p>
        </div>
    </div>
    <!--<a href="/menuanticipado" id="menuanticipado-tab" class="swipe-news" style="width: 0px; background: rgb(49, 202, 182); position: absolute; right: 0px; top: 148px; z-index: 999999999; box-shadow: rgba(4, 43, 38, 0.33) 4px 4px 14px 0px; border-radius: 6px; margin-right: -25px; padding: 9px 10px; font-size: 18px; line-height: 17px; color: rgb(255, 255, 255); border: 1px solid #46b9a7;height: 36px;">Menu<br><b>Anticipado!</b><img src="img/icon_news.png" style="position: absolute;width: 39px;right: 32px;top: 6px;display: none;"></a>-->
    <a href="/news" id="news-tab" class="swipe-news" style="width: 0px; background: rgb(49, 202, 182); position: absolute; right: 0px; bottom: 68px; z-index: 999999999; box-shadow: rgba(4, 43, 38, 0.33) 4px 4px 14px 0px; border-radius: 6px; margin-right: -25px; padding: 9px 10px; font-size: 18px; line-height: 17px; color: rgb(255, 255, 255); border: 1px solid #46b9a7;height: 36px;">Revisa las<br><b>Novedades!</b><img src="img/icon_news.png" style="position: absolute;width: 39px;right: 32px;top: 6px;display: none;"></a>
    <div class="popover popover-links">
        <div class="popover-inner">
            <div class="list">
                <ul>
                    <li><a class="list-button item-link" href="/sugerencua">Sugerencia del Chef</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
