<div id="page-mispedidos" data-name="mispedidos" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/menu" class="link icon-only">
                    <i class="icon icon-back color-white"></i>
                </a>
            </div>
            <div class="title sliding" style="left: 0px;">Mis Pedidos</div>                    
        </div>            
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <div id="loading-mispedidos" class="block">
            <br><br><br>
            <p><span class="progressbar-infinite"></span></p>
            <p class="text-align-center" style="font-size: 17px;">cargando contenido, por favor espere...</p>
        </div>
        <div id="mispedidos-content"></div>
    </div>       
</div>