<div class="form-group form-group-<?=$field['@key']?> <?=$field['@edit-visibity']?>">
    <label class="col-sm-2 control-label text-right"><?=$field['@label']?></label>
    <div class="col-sm-10">    
    
        <?php
        //echo '<pre>';
        // $relatedResults = ($this->Related->getAllRelated($relatedTable, $relatedID, $relatedShow));
        //echo '</pre>';
        ?>

        <input type="hidden" data-value="<?=$content?>"  svalue="<?=$content?>" data-module="<?=$relatedTable?>"  data-display="<?=$relatedID.':'.$relatedShow?>" data-placeholder="Buscar..." name="<?=$field['@key']?>" id="<?=$field['@key']?>" class="select-search-related" tabindex="2" />
    </div>
</div>