<div class="form-group form-group-<?=$field['@key']?> <?=$field['@edit-visibity']?>">
    <label class="col-sm-2 control-label text-right"><?=$field['@label']?></label>
    <div class="col-sm-10">  
        <!-- <?php var_dump($cliente);  ?> -->
        <!-- <?php var_dump($sucursal); ?> -->
        <?php 
            $obj_conexion = new mysqli(LOCALSERVER, LOCALUSERDB, LOCALPASSDB, LOCALDB) or die("db_error");
                if (!$obj_conexion)
                {
                    echo "<h3>No se ha podido conectar a la base de datos.</h3><hr><br>";
                    die();
                }

            $select_qry = "select segmento from config_modulos where cliente_sucursal = 'Cliente_Sucursal'";
                    
            if (!$resultado = $obj_conexion->query($select_qry))
            {
                echo $select_qry;
                echo ".Lo sentimos, este sitio web está experimentando problemas.";
                die();
            }
            $segmento = $resultado->fetch_assoc()["segmento"];

            $obj_conexion->close();

            $params = '?Service='.urlencode($servicio).'&Segmento='.$segmento.'&Cliente='.$cliente.'&Sucursal='.$sucursal;
            
        ?>

        <!-- <a id="createplato-button" onclick="javascript: $('#visual-loader').show();" href="https://sodexo.digitalboard.app/reportes_creacion_de_codigos/edit/new?Service=desayuno&Segmento=corporativo&Cliente=Cliente&Sucursal=Sucursal" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#temporal_modal">Generar plato</a> -->
        <!-- <a id="createplato-button" onclick="javascript: $('#visual-loader').show();" onclick="crearPlato()" href="https://sodexo.digitalboard.app/reportes_creacion_de_codigos/edit/new?Service=desayuno&Segmento=corporativo&Cliente=Cliente&Sucursal=Sucursal" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#temporal_modal">Generar plato</a> -->
        <a id="createplato-button" onclick="javascript: $('#visual-loader').show();" onclick="crearPlato()" href="/maestro_temporal/edit/new<?php echo $params ?>&fromJOB=6" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#temporal_modal">Generar plato</a>

        <input type="text" id="tmpCode" class="form-control no-show" value="<?=$content?>" autocomplete="off" name="<?=$field['@key']?>">

    </div>
</div>
<div id="temporal_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div>
    </div>
</div>
<script>
    // select segmento from config_modulos where cliente_sucursal = 'Cliente_Sucursal'
    var createplato_button = document.getElementById('createplato-button');
    var Cliente = '<?php echo $cliente?>';
    var Sucursal = '<?php echo $sucursal?>';
    var Segmento = '<?php echo $segmento?>';
    var servicio = () => document.getElementById('servicio').value;

    //onclick="crearPlato()"
    
    // function crearPlato(){
    //     alert(Cliente + ' '+Sucursal+' '+servicio()+' '+Segmento);
    //     //window.location.href = "https://sodexo.digitalboard.app/reportes_creacion_de_codigos/edit/new?Service=desayuno&Segmento=corporativo&Cliente=Cliente&Sucursal=Sucursal";
    //     createplato_button.href = "https://sodexo.digitalboard.app/reportes_creacion_de_codigos/edit/new?Service=desayuno&Segmento=corporativo&Cliente=Cliente&Sucursal=Sucursal";
    // }
</script>