
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd.svg#HelveticaNeueLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#6464cc;
    background-attachment:fixed;
    font-family: 'Roboto Condensed', sans-serif !important; /*font google*/
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    
    width:100%;
}

#services-bar .tab-link-active {
  background-color: #6361d3 !important
}

.md .navbar { background: #6464cc !important;}
.md .navbar .title { 
  margin: 0px;    
 font-size: 25px !important; /*font google*/
}

.md .toolbar {background: #00c853}
.md .toolbar .active {
    background: #301b79;
    border-top: 3px solid #ff0909;
}


.is-splash {
    
}

  #bg-splash {
    position: fixed; 
    top: 0; 
    left: -140px;
    width: 815px;
    height: auto;
  }

  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {   
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    color: #FFF;
  }

    .inner img { margin: 0 auto;}
    
    
.hide { display:  none;}    

.page-content {background: #f0f1f1 !important;}

.service-card-header .card-header {
    height: 165px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 0px 0px 3px #000 !important;
    font-size: 20px;
    text-transform: uppercase;
}

.service-card-header .card-content-padding .date {
    color: #8e8e93;
}


.sugerencia-card-header .card-header {
    height: 84px;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 0px 0px 3px #000 !important;
    text-align: center;
    font-size: 26px;
}

.sugerencia-card-header .card-header p {
    width: 100%;
}

.md .service-card-header .item-link {
    background-image: none;
}

.md .service-card-header .item-content {
    padding-right: 17px !important;
}
.md .service-card-header .item-title {
    font-size: 15px;
    color: #7d7878;
    margin-left: 6px;
}
.md .item-after {
  color: #7c7878 !important;
  font-size: 15px !important;
}
.md .service-card-header .item-divider {
    font-size: 16px;
    color: #1b639c;
    padding-top: 14px;
    text-transform: uppercase;
    line-height: 37px;
}

.md .tab-link {
  line-height: 46px !important;
  font-size: 18px;
}
.with-sum-kcal {    
    background-color: rgba(33, 149, 243, 0.21) !important;
    background-image: url(../img/check_green.png) !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important;
    background-position: 7px 16px !important;
    padding-left: 24px !important;
    border-left: 3px solid rgba(33, 149, 243, 0.56);
}

.no-menu-advice {
    font-size: 18px;
    margin-top: 60px !important;
    text-shadow: 1px 1px 0px #FFF;
}

  .no-menu-advice img {
    width: 56%;
    opacity: 0.7;
  }

.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}

.demo-facebook-card .demo-facebook-name {
  font-size: 19px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  font-size: 15px;
  color: #e62e17;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.card-footer a {
  color: #f12a1d;
  font-weight: 500;
  font-size: 16px !important;
  text-transform: uppercase;
}

.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}


.md #page-news .navbar {
    height: 96px !important;
}

.md #page-news   .navbar .title {
  margin: 32px 0px 0px 0px;
    font-size: 25px !important;
  }

  .md #page-news   .navbar .left {
  margin: 34px 0px 0px 0px;
    
  }


  .md #page-news .page-content {
    background: #f3f3f3 !important;
    padding-top: 110px;
  }

.md .back-to-menu {
  width: 33px;
  margin-top: -1px;
  margin-right: -2px;
}

.ios .back-to-menu {
  width: 25px;
  margin-top: -1px;
  margin-right: 10px;
}



.md .pulse-notif  {
  margin-top:-3px; 
  margin-right: -4px; 
  width: 24px
}


.ios .pulse-notif  {
  width: 22px;
  margin-top: -1px;
  margin-right: -19px;
}

.ios .navbar { 
  background: #6464cc;
}

.ios .navbar .title {
  color: #fff;
}

.ios .item-divider {
  font-size: 15px;
  color: #ff0000;
  padding: 19px 15px 4px 15px;
  text-transform: uppercase;
}

.ios .list {
  color: #7d7878;
  font-size: 14px;
}

.ios .list li { line-height: 16px; }
.ios .service-card-header .card-header {
  font-size: 21px;
  line-height: 22px;
}

.ios .list .item-content {
    color: #696969;
        min-height: 48px
}

.ios #calories-bar a {
    color: #FFF;
}

.ios .with-sum-kcal {
    background-color: rgba(33, 149, 243, 0.21) !important;
    background-image: url(../img/check_green.png) !important;
    background-repeat: no-repeat !important;
    background-size: 15px !important;
    background-position: 7px 10px !important;
    padding-left: 28px !important;
    border-left: 3px solid rgba(33, 149, 243, 0.56);
}

.ios .button {
    border: 1px solid #6361d3;
    color:#6361d3;
    
  }


.swipe-news {
  transition: all 0.2s ease-in 0s;
}

.photo-browser-popup .popup-close  span { display: none; }
.photo-browser-popup .title  { display: none; }
.photo-browser-popup .toolbar { display: none; }


