<div id="page-menuanticipado" data-name="menuanticipado" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/menu" class="link icon-only">
                    <i class="icon icon-back color-white"></i>
                </a>
            </div>
            <div class="title sliding" style="left: 0px;">Menu Anticipado</div>

        </div>
    </div>

    <div id="services-bar-menuanticipado" class="subnavbar" style="border-top: 1px solid rgb(12, 106, 179);">
        <div class="subnavbar-inner">
            <div class="segmented"></div>
        </div>
    </div>

    <div id="calories-bar-menuanticipado" class="toolbar toolbar-bottom-md" style="background: #00c853; position:absolute; bottom:0px; width:100%; font-size:20px;">
      <table style="width: 100%; table-layout: fixed">
        <tr>
          <td style="width: 48px;"><a class="link" style="padding: 0px;"><img src="img/calc_icon.png" width="28"></a></td>
          <td><a class="link" style="padding: 0px; min-width: auto; font-size: 17px;" id="calc-string-anticipado"><strong>0 Items, Total: 0 Calor&iacute;as</strong></a></td>
          <td id="tdHacerPedidoAnticipado" style="background-color: #6464cc; width: 100px; padding; 0px"><a class="link button" id="btnHacerPedidoAnticipado" style="color: white">hacer pedido</a></td>
        </tr>
      </<table>
        </table>
        <!--<a class="link float-left"><img src="img/calc_icon.png" width="28"></a>-->
        <!--<a class="link text-align-left" id="calc-string"><small><strong>Calcule Calorías Seleccionando Platos!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></small></a>-->
        <!--<div id="btnHacerPedidoAnticipado" class="button right">
            hacer pedido
        </div>-->
    </div>

    <div class="page-content">
        <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
        </div>
        <div id="menuanticipado-services-content-tabs" class="tabs">
        </div>
        <div id="loading-menuanticipado" class="block">
            <br><br><br>
            <p><span class="progressbar-infinite"></span></p>
            <p class="text-align-center" style="font-size: 17px;">cargando menu, por favor espere...</p>
        </div>
    </div>


<!--
    <div id="calories-bar" class="toolbar toolbar-bottom-md" style="background: #00c853; position:absolute; bottom:0px;width:100%;     padding: 0px 10px;font-size:20px;">
        <a class="link float-left"><img src="img/calc_icon.png" width="28"></a>
        <a class="link text-align-left" id="calc-string"><small><strong>Calcule Calorías Seleccionando Platos!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></small></a>
    </div>

    <div class="page-content ptr-content ptr-menu" data-ptr-distance="105">
        <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
        </div>
        <div id="menu-services-content-tabs" class="tabs">
        </div>
        <div id="loading-menu" class="block">
            <br><br><br>
            <p><span class="progressbar-infinite"></span></p>
            <p class="text-align-center" style="font-size: 17px;">cargando menu, por favor espere...</p>
        </div>
    </div>
    -->
</div>
